
<!DOCTYPE html>
<html>
  <head>
   
    <title>Vier Gewinnt</title>

    <link rel="stylesheet" type="text/css" href="../Template/stylesheet.css">

   

  </head>

 <body>

  <div id="topbox">
    
    <div id="zug"></div>
    <div id="name1"></div>
    <div id="name2"></div>

  </div>

  <div id="placeholder">
    

  </div>

  <div id="midbox">
   <table id="tabelle">
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
       <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
       <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
       <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>



   

    

    
  </body>
</html>