
<!DOCTYPE html>
<html>
  <head>
   
    <title>Vier Gewinnt</title>

    <link rel="stylesheet" type="text/css" href="../Template/stylesheet.css">

   

  </head>

 <body>

  <div id="signin">
  
  <form id="person">
    <label class="h2" form="person">Vier Gewinnt Spiel</label>
    <label for="vorname">Spieler Name</label>
    <input type="text" name="vorname" id="vorname" maxlength="30">
    <button type="sign">Anmelden</button>
  </form>

</div>

  <div id="topbox">
    
    <div id="zug"></div>
    <div id="name1"></div>
    <div id="name2"></div>

  </div>

  <div id="placeholder">
    

  </div>

  <div id="midbox">
   <table id="tabelle">
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
       <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
       <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
       <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>



   

    

    
  </body>
</html>