
<!DOCTYPE html>
<html>
  <head>
   
    <title>Vier Gewinnt</title>

    <link rel="stylesheet" type="text/css" href="../Template/stylesheet.css">


    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>

    <script>

      var socket = io();
      var socketid = socket.id;
      
      var msg = document.querySelector("#player-1").value;

      function showhide(){
      var div = document.getElementById("signin");
      if (div.style.display !== "none") {
      div.style.display = "none";
      }
     
}

   
 }

    </script>

  </head>

 <body>

  <div id="signin" function="showhide()">
  
  <form id="person">
    <label class="h2" form="person">Vier Gewinnt Spiel</label>
    <label for="vorname">Spieler Name</label>
    <input type="text" name="vorname" id="vorname" maxlength="30">
    <button type="sign">Anmelden</button>
  </form>

</div>

  <div id="topbox">
    
    <div id="zug"></div>
    <div id="name1">
      <P name="player-1" id="player-1"></P>
    </div>
    <div id="name2"></div>

  </div>

  <div id="placeholder">
    

  </div>

  <div id="midbox">
   <table id="tabelle">
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
       <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
       <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
       <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>



   

    

    
  </body>
</html>